.top_menu_container {
    -fx-alignment: center-left;
    -fx-background-color: #001945;
}

.top_menu_container HBox {
    -fx-spacing: 8;
}
.top_menu_container Label {
    -fx-font-size: 1.6em;
    -fx-font-family: "Calibri Light";
    -fx-font-fill: white;
}

.filter-icon {
    -fx-width: 0;
    -fx-height: 0;
    -fx-visibility: hidden;
}